@import "tailwindcss";

/* Hide Google Translate Banner and Widget completely */
.skiptranslate > iframe.skiptranslate {
    display: none !important; 
    visibility: hidden !important;
}
body {
    top: 0px !important; 
    position: static !important;
}
#google_translate_element {
    display: none !important;
}
/* Hide tooltip */
.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}
